[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/shuber/curl.git
[submodule "lib/slim"]
	path = lib/slim
	url = https://github.com/codeguy/Slim.git
[submodule "lib/ember-data"]
	path = lib/ember-data
	url = https://github.com/emberjs/data.git
[submodule "lib/predis"]
	path = lib/predis
	url = https://github.com/nrk/predis.git
